
.setting__item {
  display: block;
  margin: .5em 0;
}

.setting__input {
  width: 3em;
  display: inline-block;
  vertical-align: top;
}

.setting__label {
  display: inline-block;
  vertical-align: top;
  width: 13em;
}
