.m-tree {
  position: relative;
  z-index: 0;
}

.m-step {
  position: relative;
}


.m-item {
  background: #efe;
  position: absolute;
  text-align: center;
}

.m-tree__paths {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-tree__path {
  stroke: #09f;
  stroke-width: 1;
}
