.solution-tree {
  margin-bottom: 0.5em;
  clear: both;
  display: block;

  > line {
    stroke-width: 2;
    stroke: #3f6;
  }
}

.task-token {
  text-anchor: middle;
  font-weight: bold;
}

.task-step {
  fill: #36f;
  font-weight: bold;
  text-anchor: middle;
}

.js-solution {
  clear: both;
}
