.m-tabs-item {
  padding: 1em;
  cursor: pointer;
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: center;
}

.m-tabs-item.is-selected {
  background: #9cf;
}

.m-tabs-item:hover {
  background: #9cf;
}
