html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: Verdana, Arial;
  font-size: 12px;
}

@media (min-width: 960px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  padding: .5em 0;
}

.flex-row__header {
  width: 10em;
  flex: none;
}
